.first-section {
  background-image: url('/images/bg-hero-desktop.svg');
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 3em;
}

.intro {
  display: flex;
  justify-content: space-evenly;
  padding: 0 3em;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-button {
  max-width: 100px;
}

.illustration-mockups {
  max-height: 400px;
  padding: 3em 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5em 10%;
  border-radius: 1em;
  box-shadow: 1px 0px 12px 0px rgba(207,205,207,1);
}

.second-section {
  flex-direction: row-reverse;
}

.section-illustration {
  max-height: 250px;
  padding: 2em 0;
}

.section-text {
  max-width: 350px;
}
