body {
  background: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  margin-right: 1em;

}

ul > li {
  display: inline-block;
  zoom:1;
  *display:inline;
}